<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangeAppIconDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ABF8B271EC5B54E000182BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABF8B401EC5B54E000182BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABF8B4B1EC5B54E000182BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
